<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LearnConfiguration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FBA17B31F5D815E0074662F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FBA17C71F5D815E0074662F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FBA17D21F5D815E0074662F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
